body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid rgb(5, 69, 27);
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: darkslategrey;
}

a:visited {
	color: rgb(100, 36, 157);
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.button1 {	
	background-color:yellow; 
	border-radius: 10px;
	padding:15px;
    min-height:30px; 
    min-width: 120px;

}

.button2{	
	background-color: yellow;
	border-radius: 10px;
	padding:15px;
    min-height:30px; 
    min-width: 120px;

}
.button3{
	background-color: yellow;
	border-radius: 10px;
	padding:15px;
    min-height:30px; 
    min-width: 120px;

}